body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f3f1;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 8px #00000020;
  margin-bottom: 20px;
}